Agathiyam/.venv310/*
Agathiyam/.venv/*
Agathiyam/models/*
__pycache__/*
Agathiyam/core/__pycache__/*
Agathiyam/results/*
Agathiyam/tests/*
*.pkl

# Keep data/ and models/ local and intact (never tracked or overwritten by default)
Agathiyam/data/
Agathiyam/models/
Agathiyam- Sandhi aware tokenization for Tamil Language/core/__pycache__/*
Agathiyam- Sandhi aware tokenization for Tamil Language/data/archieves/*
Agathiyam- Sandhi aware tokenization for Tamil Language/data/flores/*